.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.list {
  width: 800px;
  border-radius: 5px;
  box-shadow: 10px 10px 25px -3px gray;
}

h1 {
  text-align: center;
}

.item {
  display: flex !important;
  justify-content: space-between;
}

.checkbox {
  margin-top: 10px !important;
}

.settings {
  margin-top: 10px;
}

.edit {
  cursor: pointer;
}

.edit:hover {
  color: limegreen;
}

.check {
  cursor: pointer;
  color: limegreen;
}

.del {
  cursor: pointer;
}

.del:hover {
  color: red;
}

.complited {
  text-decoration: line-through;
}